*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-family: 'Roboto', sans-serif;
}

body{

    .banner{
        width: 100%;
        height: 500px;
        // background: linear-gradient(180deg, #4054B2 30.78%, rgba(110, 193, 228, 0.86) 78.16%);
        // background-image: url(/assets/wave.svg);

    }
}

