//Font
*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-family: 'Roboto', sans-serif;
}

//Colors
$blueDark:    #4054B2;
$blueLigth:    #6EC1E4;
$green:    #84D95C;
$white: #FFFFFF;

$border-r-btn: 5px;
$border-r-img: 5px;