//Button Sign in
#sign-in-btn{
    text-decoration: none;

    background: #4054B2;
    color: #FFFFFF;
    padding: 14px 18px;
    margin: 0px 10px;
    border-radius: 5px;
    transition: 0.3s ease all;
}
#sign-in-btn:hover{
    background: #FFFFFF;
    color: #4054B2;
}


//Button S
#free-btn{
    text-decoration: none;

    background: #FFFFFF;
    color: #4054B2;
    padding: 14px 18px;
    margin: 0px 10px;
    border-radius: 5px;
    transition: 0.3s ease all;
}
#free-btn:hover{
    background: #84D95C;
    color: #FFFFFF;
    
}
