//Button Sign in
@import '../utilities/variables';
#Button-1{
    text-decoration: none;

    background: $blueDark;
    color: $white;
    padding: 9px 20px;
    margin: 0px 10px;
    border-radius: $border-r-btn;
    transition: 0.3s ease all;
}
#Button-1:hover{
    background: $Hover-color;
    color: $white;
}


//Button Empieza gratis
#Button-2{
    text-decoration: none;

    background: $white;
    color: $blueDark;
    padding: 8px 18px;
    margin: 0px 10px;
    border-radius: $border-r-btn;
    transition: 0.3s ease all;
}
#Button-2:hover{
    background: $green;
    color: $white;
    
}
